.footer {
	height: 100px;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem 0;
	color: white;
	background-color: rgb(49, 72, 170);
}
.icon-links {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	text-align: center;
	flex-direction: row;
	list-style: none;
}
.icon-links li {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: white;
	/* color: rgb(78, 78, 231); */
}
.icon-links li:hover {
	cursor: pointer;
	font-size: 2rem;
}
.privacy-policy {
	text-align: center;
}
@media screen and (max-width: 640px) {
	.footer {
		height: 80px;
	}
	.icon-links {
		height: 30%;
		padding: 0rem;
		text-align: center;
	}
	.icon-links li {
		font-size: 1.2rem;
	}
	.privacy-policy {
		height: 30%;
	}
	.privacy-policy p {
		font-size: 1rem;
		padding: 0;
	}
}
